<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getChromeData>
        <processor type="Sitecore.Pipelines.GetChromeData.GetFieldChromeData, Sitecore.Kernel" set:type="Sitecore.Support.Pipelines.GetChromeData.GetFieldChromeData, Sitecore.Support.182765" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>